<?xml version="1.0"?>

<!-- This launch file does not seem to be used.
This launch file seems to be doing what we see here https://gitlab.liu.se/srg/srg/-/tree/master/catkin_ws/src/simulator-specifications
But nothing happens with this.

 -->


<launch>
  <arg name="name" default="m100_me"/>
  <arg name="arg" default=""/>

  <include file="$(find collision_avoidance_m100_gazebo)/launch/start.launch">
  </include>
  <include file="$(find collision_avoidance_m100_gazebo)/launch/spawn_m100.launch">
    <arg name='name' value="$(arg name)" />
  </include>
  <include file="$(find collision_avoidance_m100_gazebo)/launch/start_m100_interface.launch">
    <arg name='name' value="$(arg name)" />
  </include>
  <include file="$(find collision_avoidance_m100_gazebo)/launch/path_generator.launch">
    <arg name='name' value="$(arg name)" />
    <arg name="arg" value="$(arg arg)" />
  </include>
</launch>
